test:
    stage: test
    script: 
        - "dotnet test"
build:
    stage: build
    script:
        - "dotnet build"
    artifacts:
      paths:
        - bin/
stages:
    - build
    - test
image: microsoft/dotnet:latest
.github/FUNDING.yml*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn
